<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zeynep.e_ticaret">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-Ticaret"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GirisEkrani"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KayitEkrani"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnaKategoriler"
            android:label="Ana Kategoriler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KullaniciAyarlar"
            android:label="Ayarlar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Adresler"
            android:label="Kayıtlı Adreslerim"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListeleAdres"
            android:label="Adres Listem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".altkategorilistele"
            android:label="Alt Kategori Listesi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UrunDetay"
            android:label="Ürün"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".urunGoster" />
        <activity
            android:name=".Sepetim"
            android:label="@string/title_activity_sepetimdekiler"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>